* {
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

nav {
    justify-content: center;
    font-size: 36px;
    display: inline;
}

ol, 
li {
    display: flex;
    justify-content: center;
    text-align: left;
}

.choices-list {
    list-style-type: decimal;

  }
  
  .choice-item {
    display: flex;
    text-align: left;
  }
  
  .choice-button {
    flex: 0.5;
    /* Add other styles as desired */
  }

.test {
    padding: 100px;
    border: 10px solid black;
    box-sizing: border-box;
    display: block;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    body {
        text-align: center;
        justify-content: center;
    }
    ol, 
    li {
    display: flex;
    justify-content: center;
    }
}