* {
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

nav {
    justify-content: center;
    font-size: 36px;
    display: inline;
}

ol, 
li {
    display: flex;
    justify-content: center;
}

.choices-list {
    list-style-type: decimal;

  }
  
  .choice-item {
    display: flex;
    justify-content: center;
  }
  
  .choice-button {
    flex: 0.5;
    display: block;
  }

.test {
    padding: 100px;
    border: 10px solid black;
    box-sizing: border-box;
    display: block;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    body {
        text-align: center;
        font-size: 10px;
        justify-items: center;
    }

    .test {
        padding: 100px;
        border: 10px solid black;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
}