* {
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}

nav {
    justify-content: center;
    font-size: 36px;
}

ul, 
li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.test {
    padding: 100px;
    border: 10px solid black;
    box-sizing: border-box;
    display: block;
    width: 75%;
    margin: 0 auto;
}